.error-wrap {
    margin-top: 64px;
    margin-bottom: 64px;
    .error-code {
        font-size: 8rem;
        line-height: 1.1;
        color: $color-dark;
    }
    .message-manual {
        font-size: 1.125rem;
        line-height: 2;
    }
}